body {
  background-image: url("knives_bg.jpg");
  font-family: "Caveat";
}
img {
  display: inline;
}

#male {
  background-color: skyblue;
}

#female {
  background-color: pink;
}

.thumb{
    height="120px" width="120px"

}

p {
  font-size: 20px;
  font-weight: 600;
}

